body,
a {
  color: blue;
}

/*#menu-background {*/

.back-button {
  border: 2px solid red;
  border-radius: 10px;
  margin: 0.5%;
}


th:nth-child(n + 2),
td:nth-child(n + 2)  {
  border-left: 1px solid white;
  color: white;

}
tr{
border: 1px solid white;
}