{% extends 'base.html' %} {% block title %}{{href_menu[0]}}{% endblock %}
{%block content %}
<div id="first-line">
  <h3>{{_h3}}</h3>
  <form action="{{'/user/'+href_menu[0]}}" method="POST">
    {% for item in _form_data %}
    <input style = 'text-align: center; padding: 8px ; margin: 3px;'  placeholder="{{item}}" value="{{_form_data[item]}}"></br>
    {% endfor  %}
    <label>Elije un día</label></br>
    <select name="date" id="date">
    {% for date in _form_posible_date %}
      <option value = "{{_form_posible_date[date]}}">{{_form_posible_date[date]}}</option>
    {% endfor %}
  </select>
  <label>Elije una hora</label></br>
  <select>
    {% for time in _form_posible_date_time %}
      <option value = "{{time}}">{{time}}</option>  
    {% endfor %}
  </select>
    <button id="submit" value="Submit">Enviar</button>
  </form>
  <a class="back-button" href="{{url_for('index')}}">Volver</a>
</div>
{% endblock %}
