{% extends 'base.html' %}

{% block title %}{{href_menu[1]}}{% endblock %}

{%block content %}
<div id="second-line">
    <h3>{{_h3}}</h3>
    <form action="{{'/user/'+href_menu[1]}}" method="POST">
    <label for="last_name">Ingresa tu apellido</label></br>
    <input style = 'text-align: center; padding: 8px ; margin: 3px; border-radius: 5px;'  placeholder="Apellido" id="last_name" name="last_name" ></br>
    <label for="email">Ingresa tu email</label></br>
    <input  style = 'text-align: center; padding: 8px ; margin: 3px; border-radius: 5px;'  placeholder="Email" id="email" name="email" ></br>
    </form>
    <button id="submit" value="Submit">Enviar</button>
    <a class="back-button" id="da" href="{{url_for('index')}}">Volver</a>
  </div>

{% endblock %}
